.header {

    height: 90px;
    background-color: rgba(250, 235, 215, 0.5);
}

.header__uno {

    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: rgba(149, 189, 3, 0.616);
}

.githubicon {

    width: 2rem;
}

.linkedinicon {

    width: 2rem;
}

.section__icon {

    display: flex;
    width: 100%;
}

.section__icon__p__icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}

.section__icon__p {

    color: black;
    font-family: 'Merriweather', serif;
    font-size: 0.8rem;
    align-items: flex-end;
}

.h1 {
    color: black;
    font-family: 'Noto Serif', serif;
    font-size: 1rem;
}

.footer{

    background-color: antiquewhite;
    height: 5rem;
}


.card{

    background-color: rgba(206, 97, 97, 0.185);
    
}
.cuadrado{

    height: 350px;
    object-fit: cover;
}

.botondark{

    color: white;
    background-color:rgba(0, 0, 0, 0.589);
}
